@font-face {
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 65 Medium"), url(fonts/HelveticaNeueLTProMd.woff)format("woff");
}
@font-face {
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 55 Roman"),url(fonts/HelveticaNeueLTProRoman.woff)format("woff");
}
@font-face {
  font-family: 'Helvetica Neue LT Pro 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Pro 85 Heavy'), url(fonts/HelveticaNeueLTProHv.woff)
  }
  @font-face {
    font-family: 'Helvetica Neue LT Pro 75 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 75 Bold'),url(fonts/HelveticaNeueLTProBd.woff)format('woff');
    }
    @font-face {
      font-family: 'Helvetica Neue LT Pro 45 Light';
      font-style: normal;
      font-weight: normal;
      src: local('Helvetica Neue LT Pro 45 Light'),url(fonts/HelveticaNeueLTProLt.woff)format('woff');
      }
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 700px;
}

header {
  height: 465px;
  background-image: url("img/header.png");
  padding:45px;
  padding-top: 49px;
}

.rectangulo{
  background-color:#23135F;
  width:90px; 
  height:27px;
  align-self:flex-end; 
}
.rectangulo p {
  text-transform: uppercase;
  text-align: center;
  color: white;
  align-self:flex-end;
  font-size: 16.67pt;
}
.titulo{
  width: 100%;
  color: white;
  align-self:flex-end;
  font-size: 56.24pt;
}
.abajo {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}


.contenedores {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;
}

.blanco {
  background-color: #ffffff;
  text-align: left;
  font-size: 15pt;
}

.negrita {
  font-weight: bold;
}
.gris {
  width: 279px;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 16pt;
}
.azul {
  font-weight: bold;
  color: #23135f;
}
button {
  color: white;
  text-align: center;
  font-size: 16.67pt;
  background-color: #23135f;
}

.dos {
    height: 314px;
    padding: 45px;
}

.tres {
    height: 283px;
    background-image: url("img/backgroundvid.png");
    padding: 45px;
}

.tres p {
  color:white;
  text-align: left;
  padding-left: 41px;
}

.video {
  font-size: 15pt;
  border: 7px white solid;
  border-radius: 5px;
}

.cuatro {
    height: 125px;
    font-size:30.64pt;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.centro {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

footer {
  width: 700px;
  height: 125px;
  background-color: #7c55b5;
  color:white;
}
.info {
  font-size: 15pt; 
}
.derechos {
  font-size: 12pt;
}
.mayusc {
    text-transform: uppercase;
}

.medium {
  font-family:"Helvetica Neue LT Pro 65 Medium";
  font-style: normal;
  font-weight: normal;
}

.heavy {
  font-family:"Helvetica Neue LT Pro 85 Heavy";
  font-style: normal;
  font-weight: normal;
}

.roman {
  font-family:"Helvetica Neue LT Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
}

.bold {
  font-family:"Helvetica Neue LT Pro 75 Bold";
  font-style: normal;
  font-weight: bold;
}

.light {
  font-family:"Helvetica Neue LT Pro 45 Light";
  font-style: normal;
  font-weight: normal;
}